@import "../../assets/style.scss";

b {
    color: $orange;
}

.main {
    &_search {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        &_input {
            width: 250px;
            height: 37px;
        }
    }


    &_show-card {
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: $dark;
        padding: 16px;
        border-radius: 8px;
        
        &_body {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;

            &_img {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 16px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            
            &_desc {
                width: 60%;
            }
        }

        &_footer {
            padding: 8px;
            text-align: end;
        }
    }
}