@import "../../assets/style.scss";

.main-cadastro{
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 300px;
    min-height: 50%;
    background-color: $dark;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;

    p{
        color: $red;
        margin: 5px;
    }

    &_inputs{
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 300px;
        height: 90%;
        justify-content: space-evenly;

        input{
            height: 40px;
        }
    }
}

@media screen and (max-width: 800px) { 
    .form {
        width: 90%;
    }
}