@import "../../../assets/style.scss";

%status {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed $grey;
}

.topo {
    width: 100%;
    display: flex;
    height: 250px;
    padding: 8px;

    &_img-area {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 10em;
        text-align: center;

        img {
            border-radius: 100%;
            width: 150px;
            height: 150px;        
        }
    }

    &_status-area {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: calc(100% - 190px);
        padding-left: 8px;

        &_vida{
            @extend %status;
            border-color: $red;
            h3 {
                color: $red
            }
        }
        &_mana{
            @extend %status;
            border-color: $green;
            h3 {
                color: $green;
            }
        }
        &_level{
            @extend %status;
        }
    }


    &_camp-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $orange;
        padding-left: 8px;
        width: calc(100% - 190px);
    }
}